JWT_SECRET=troque_por_uma_chave_secreta_forte

GATEWAY_PORT=3000
USERS_PORT=5001
PRODUCTS_PORT=5002
PRODUCTS_REPLICA_PORT=5012
ORDERS_PORT=5003

USERS_URL=http://localhost:5001
PRODUCTS_URL=http://localhost:5002
PRODUCTS_REPLICA_URL=http://localhost:5012
ORDERS_URL=http://localhost:5003
